/*
 * Fonts 
 * @description: Set all @font-face rules
 * @author: Guillaume Corbelin
 * 
 */

// OpenSans
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
  font-display: swap;
}

// Montserrat
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Light.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
  font-display: swap;
}

// TitilliumWeb
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'TitilliumWeb';
  src: url('../fonts/montserrat/TitilliumWeb-Light.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'TitilliumWeb';
  src: url('../fonts/montserrat/TitilliumWeb-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'TitilliumWeb';
  src: url('../fonts/montserrat/TitilliumWeb-SemiBold.ttf');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'TitilliumWeb';
  src: url('../fonts/montserrat/TitilliumWeb-Bold.ttf');
  font-display: swap;
}
