/*
 * Widgets Icons
 * @desription: Set all CSS rules for widgets icons
 * Widgets icons are used in the lateral panel of the editor tool, in the Widgets tab. They help the user to quickly identify the widget to add.
 * As they are multi colored icons, they cannot be used in icon fonts and cann't be merged with xdash-icons.
 * 
 */

.widgets {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;

  &.icn-address-autocompletion {
    @include icon-background('address-autocompletion.svg', 'widget');
  }

  &.icn-arch-circular-gauge {
    @include icon-background('arch-circular-gauge.svg', 'widget');
  }

  &.icn-board {
    @include icon-background('board.svg', 'widget');
  }

  &.icn-board::before {
    content: none; // Same name as xdash-icons' "board" icon
  }

  &.icn-button {
    @include icon-background('button.svg', 'widget');
  }

  &.icn-calendar {
    @include icon-background('calendar.svg', 'widget');
  }

  &.icn-camera {
    @include icon-background('camera.svg', 'widget');
  }

  &.icn-checkbox {
    @include icon-background('checkbox.svg', 'widget');
  }

  &.icn-clock {
    @include icon-background('clock.svg', 'widget');
  }

  &.icn-compass {
    @include icon-background('compass.svg', 'widget');
  }

  &.icn-date-range-calendar {
    @include icon-background('date-range-calendar.svg', 'widget');
  }

  &.icn-year-calendar {
    @include icon-background('year-calendar.svg', 'widget');
  }

  &.icn-double-slider {
    @include icon-background('double-slider.svg', 'widget');
  }

  &.icn-echarts-generic-javascript {
    @include icon-background('echarts-generic-javascript.svg', 'widget');
  }

  &.icn-export-to-file {
    @include icon-background('export-to-file.svg', 'widget');
  }

  &.icn-full-circular-gauge {
    @include icon-background('full-circular-gauge.svg', 'widget');
  }

  &.icn-generic-html {
    @include icon-background('generic-html.svg', 'widget');
  }

  &.icn-horizontal-slider {
    @include icon-background('horizontal-slider.svg', 'widget');
  }

  &.icn-image {
    @include icon-background('image.svg', 'widget');
  }

  &.icn-info {
    @include icon-background('info.svg', 'widget');
  }

  &.icn-info::before {
    content: none; // Same name as xdash-icons' "info" icon
  }

  &.icn-kpi {
    @include icon-background('kpi.svg', 'widget');
  }

  &.icn-kpi-advanced {
    @include icon-background('kpi-advanced.svg', 'widget');
  }

  &.icn-label {
    @include icon-background('label.svg', 'widget');
  }

  &.icn-list {
    @include icon-background('list.svg', 'widget');
  }

  &.icn-load-file {
    @include icon-background('load-file.svg', 'widget');
  }

  &.icn-map {
    @include icon-background('map.svg', 'widget');
  }

  &.icn-folium {
    @include icon-background('folium.svg', 'widget');
  }


  &.icn-markdown {
    @include icon-background('markdown.svg', 'widget');
  }

  &.icn-matplolib-generic {
    @include icon-background('matplolib-generic.svg', 'widget');
  }

  &.icn-multi-select {
    @include icon-background('multi-select.svg', 'widget');
  }

  &.icn-multi-switch {
    @include icon-background('multi-switch.svg', 'widget');
  }

  &.icn-numeric-input {
    @include icon-background('numeric-input.svg', 'widget');
  }

  &.icn-plotly-3D {
    @include icon-background('plotly-3D.svg', 'widget');
  }

  &.icn-plotly-bar {
    @include icon-background('plotly-bar.svg', 'widget');
  }

  &.icn-plotly-javascript-generic {
    @include icon-background('plotly-javascript-generic.svg', 'widget');
  }

  &.icn-plotly-line {
    @include icon-background('plotly-line.svg', 'widget');
  }

  &.icn-plotly-pie {
    @include icon-background('plotly-pie.svg', 'widget');
  }

  &.icn-plotly-python-generic {
    @include icon-background('plotly-python-generic.svg', 'widget');
  }

  &.icn-plotly-real-time {
    @include icon-background('plotly-real-time.svg', 'widget');
  }

  &.icn-progress-bar {
    @include icon-background('progress-bar.svg', 'widget');
  }

  &.icn-range {
    @include icon-background('range.svg', 'widget');
  }

  &.icn-select {
    @include icon-background('select.svg', 'widget');
  }

  &.icn-semi-circular-gauge {
    @include icon-background('semi-circular-gauge.svg', 'widget');
  }

  &.icn-simple-meter {
    @include icon-background('simple-meter.svg', 'widget');
  }

  &.icn-status {
    @include icon-background('status.svg', 'widget');
  }

  &.icn-switch {
    @include icon-background('switch.svg', 'widget');
  }

  &.icn-tachometer {
    @include icon-background('tachometer.svg', 'widget');
  }

  &.icn-text-input {
    @include icon-background('text-input.svg', 'widget');
  }

  &.icn-value {
    @include icon-background('value.svg', 'widget');
  }

  &.icn-vega-generic-javascript {
    @include icon-background('vega-generic-javascript.svg', 'widget');
  }

  &.icn-vertical-slider {
    @include icon-background('vertical-slider.svg', 'widget');
  }

  &.icn-wind-circle {
    @include icon-background('wind-circle.svg', 'widget');
  }
}