<div ng-if="moduleOpened" class="sidebar__brand">
  <span class="brand__placeholder" aria-hidden="true"></span>
  <span class="sr-only">Chalk'it logo</span>
</div>

<div class="sidebar__menu">
  <div ng-class="{'sidebar__actions': moduleOpened}">
    <button ng-if="!xDashLiteVersion" class="btn btn-circle" ng-click="newProject()" title="My project">
      <span class="icon__container" ng-class="{'icon__container--active': !moduleOpened}">
        <i class="basic icn-edit"></i>
      </span>
      My project
    </button>
    <button
      ng-if="enableLocalServer || taipyLink"
      title="Open a project"
      class="btn btn-circle"
      ng-click="openFromLocal()"
    >
      <span class="icon__container">
        <i class="basic icn-file-import"></i>
      </span>
      Open
    </button>
    <button
      ng-if="!enableLocalServer && !taipyLink"
      title="Import a project"
      class="btn btn-circle"
      ng-click="importFromLocal()"
    >
      <span class="icon__container">
        <i class="basic icn-file-local-import"></i>
      </span>
      Import
    </button>
    <ul ng-if="!xDashLiteVersion" class="sidebar__list" ng-class="{'sidebar__list--disabled': !enableLocalServer}">
      <li>
        <a
          ui-sref="modules.cards.layout({action: 'templateGallery'})"
          ng-click="toggleMenuOptionDisplay('gallery')"
          ng-class="{'active' :  displayedId==='gallery', 'disabled': !enableLocalServer}"
        >
          <i class="basic icn-template"></i>Template Gallery
        </a>
      </li>
    </ul>
  </div>
  <div class="divider"></div>
  <div ng-class="{'sidebar__actions': moduleOpened}">
    <button class="btn btn-circle" style="cursor: default">
      <span class="icon__container alt">
        <i class="basic icn-help-big"></i>
      </span>
      Help
    </button>
    <ul ng-if="!xDashLiteVersion" class="sidebar__list">
      <li>
        <a
          ng-class="{'active' :  displayedId==='discover'}"
          ui-sref="modules.discover.layout"
          ng-click="toggleMenuOptionDisplay('discover')"
          >Discover Chalk'it</a
        >
      </li>
      <li>
        <a
          ng-class="{'active' :  displayedId==='training'}"
          ui-sref="modules.training.layout"
          ng-click="toggleMenuOptionDisplay('training')"
          >Training document</a
        >
      </li>
    </ul>
    <ul ng-if="xDashLiteVersion" class="sidebar__list">
      <li>
        <a ng-click="openDoc()">Discover Chalk'it</a>
      </li>
    </ul>
  </div>
</div>
