/*
 * Utilities classes
 * @description: short, reusable and standalone classes to help set simple rules
 * TODO: Remove !important when possible
 * 
 */

// Position
.affix {
  position: fixed;
}

// Displays
.flex {
  display: flex;
}

.block {
  display: block;
}

.flow-root {
  display: flow-root;
}

.hidden {
  display: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

// Sizes
.h-full {
  height: 100%;
}

// Alignments
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

// Texts
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

small,
.small {
  font-size: 85%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// Text colors
$text-colors: 'primary', 'secondary', 'info', 'success', 'warning', 'danger';

@each $color in $text-colors {
  .text-#{$color} {
    color: var(--#{$color}-color);
  }
}

// Background colors
$bg-colors: 'primary', 'secondary', 'info', 'success', 'warning', 'danger';

@each $color in $text-colors {
  .bg-#{$color} {
    background-color: var(--#{$color}-color);
  }
}

// Borders
.bordered {
  border: thin solid;
}

// Images
.img-circle {
  border-radius: br('full');
}

// Screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

// Floats
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: ' ';
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
form::after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
