/* 
 * File that will be injected for Runtime build
 * 
 */

// Base file
@import './style.scss';

// Components
@import './components/runtime-toolbar';
@import './components/dashboard-forms';
@import './components/sweet-alert';
@import './components/pnotify';
@import './components/loader';

// Utils
@import './utils';
