@font-face {
  font-family: 'xDash-icons';
  src:  url('fonts/xDash-icons.eot?8hm86g');
  src:  url('fonts/xDash-icons.eot?8hm86g#iefix') format('embedded-opentype'),
    url('fonts/xDash-icons.ttf?8hm86g') format('truetype'),
    url('fonts/xDash-icons.woff?8hm86g') format('woff'),
    url('fonts/xDash-icons.svg?8hm86g#xDash-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icn-"], [class*=" icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xDash-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-edit-2:before {
  content: "\e951";
}
.icn-file-import:before {
  content: "\e952";
}
.icn-file-local-import:before {
  content: "\e953";
}
.icn-menu-close:before {
  content: "\e954";
}
.icn-menu-open:before {
  content: "\e955";
}
.icn-save-2:before {
  content: "\e956";
}
.icn-dashboard-color:before {
  content: "\e957";
}
.icn-download-cloud:before {
  content: "\e94d";
}
.icn-upload-cloud:before {
  content: "\e94e";
}
.icn-lock:before {
  content: "\e94f";
}
.icn-share-private:before {
  content: "\e950";
}
.icn-object-align-bottom:before {
  content: "\e93d";
}
.icn-object-align-horizontal:before {
  content: "\e93e";
}
.icn-object-align-left:before {
  content: "\e93f";
}
.icn-object-align-right:before {
  content: "\e941";
}
.icn-object-align-top:before {
  content: "\e942";
}
.icn-object-align-vertical:before {
  content: "\e945";
}
.icn-resize-full:before {
  content: "\e949";
}
.icn-resize-horizontal:before {
  content: "\e94a";
}
.icn-resize-small:before {
  content: "\e94b";
}
.icn-resize-vertical:before {
  content: "\e94c";
}
.icn-add:before {
  content: "\e900";
}
.icn-arrowback:before {
  content: "\e901";
}
.icn-arrowbotom:before {
  content: "\e902";
}
.icn-arrowright:before {
  content: "\e903";
}
.icn-arrowup:before {
  content: "\e904";
}
.icn-check:before {
  content: "\e905";
}
.icn-close:before {
  content: "\e906";
}
.icn-contact:before {
  content: "\e907";
}
.icn-delete:before {
  content: "\e908";
}
.icn-download:before {
  content: "\e909";
}
.icn-duplicate:before {
  content: "\e90a";
}
.icn-edit:before {
  content: "\e90b";
}
.icn-expand:before {
  content: "\e90c";
}
.icn-eye:before {
  content: "\e90d";
}
.icn-filters:before {
  content: "\e90e";
}
.icn-folder:before {
  content: "\e90f";
}
.icn-full-screen:before {
  content: "\e910";
}
.icn-help:before {
  content: "\e911";
}
.icn-info:before {
  content: "\e912";
}
.icn-menu:before {
  content: "\e913";
}
.icn-miniarrowbottom:before {
  content: "\e914";
}
.icn-miniarrowleft:before {
  content: "\e915";
}
.icn-miniarrowright:before {
  content: "\e916";
}
.icn-miniarrowup:before {
  content: "\e917";
}
.icn-minimize:before {
  content: "\e918";
}
.icn-more:before {
  content: "\e919";
}
.icn-move:before {
  content: "\e91a";
}
.icn-notifications:before {
  content: "\e91b";
}
.icn-pause:before {
  content: "\e91c";
}
.icn-play:before {
  content: "\e91d";
}
.icn-reduced-screen:before {
  content: "\e91e";
}
.icn-schedule:before {
  content: "\e91f";
}
.icn-search:before {
  content: "\e920";
}
.icn-share:before {
  content: "\e921";
}
.icn-sorting:before {
  content: "\e922";
}
.icn-tag:before {
  content: "\e923";
}
.icn-template:before {
  content: "\e924";
}
.icn-upload:before {
  content: "\e925";
}
.icn-bringforward:before {
  content: "\e926";
}
.icn-home:before {
  content: "\e927";
}
.icn-logout:before {
  content: "\e928";
}
.icn-rename:before {
  content: "\e929";
}
.icn-sendbackword:before {
  content: "\e92a";
}
.icn-dashboard:before {
  content: "\e92b";
}
.icn-openfolder:before {
  content: "\e92c";
}
.icn-refresh:before {
  content: "\e92d";
}
.icn-remove:before {
  content: "\e92e";
}
.icn-save:before {
  content: "\e92f";
}
.icn-settings:before {
  content: "\e930";
}
.icn-uniE931:before {
  content: "\e931";
}
.icn-uniE932:before {
  content: "\e932";
}
.icn-cloud:before {
  content: "\e93c";
}
.icn-help-big:before {
  content: "\e940";
}
.icn-dashboard-aspect:before {
  content: "\e933";
}
.icn-data-connection:before {
  content: "\e934";
}
.icn-datanode:before {
  content: "\e935";
}
.icn-graph:before {
  content: "\e936";
}
.icn-historic:before {
  content: "\e937";
}
.icn-widget:before {
  content: "\e938";
}
.icn-graphical-properties:before {
  content: "\e939";
}
.icn-aspect:before {
  content: "\e93a";
}
.icn-libraries-pyodide:before {
  content: "\e93b";
}
.icn-board:before {
  content: "\e943";
}
.icn-border:before {
  content: "\e944";
}
.icn-grid:before {
  content: "\e946";
}
.icn-scale:before {
  content: "\e947";
}
.icn-stretch:before {
  content: "\e948";
}
