<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chalk'it - App</title>
    <meta http-equiv="Cache-control" content="no-store, no-cache, must-revalidate" />
    <meta name="robots" content="nosnippet, noindex" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body ng-app="xCLOUD" class="nav-sm" id="app">
    <div id="loading-overlay" ng-class="{'hidden':!isLoading}">
      <div class="wrapperloading">
        <div class="loading up"></div>
        <div class="loading down"></div>
      </div>
    </div>
    <div id="nav_bar" style="display: none" ng-style="{'display': 'block'}"></div>
    <div class="panel-body" ng-controller="DashboardController">
      <div class="dashboard-parent-container">
        <div class="dashboard-page-container" style="margin-left: auto; margin-right: auto">
          <div id="DropperDroitec" class="dropperR dashboard-content-container"></div>
        </div>
      </div>
      <draggable-panel
        style="display: none"
        class="monitor-panel"
        ng-style="{'display': 'block'}"
        ng-show="panelOpen"
        start-top="100"
        start-left="100"
      >
        <div class="monitor-panel__header drag-handle">Monitor Panel</div>
        <div class="monitor-panel__content">
          <div class="dashboard-form">
            <div class="dashboard-form__input-wrapper">
              <input
                type="search"
                placeholder="Search DataNode"
                class="dashboard-form__input--search"
                ng-change="applyDatanodeFilter()"
                ng-model="searchDatanodeByName"
              />
              <i class="basic icn-search"></i>
            </div>
          </div>
          <div
            class="datanode__card"
            ng-class="{open:displayedShowIndex==$index}"
            ng-repeat="data in alldatanodes"
            ng-if="!data.hide"
          >
            <div class="datanode__card--top">
              <div class="datanode__card--top__flags" >
                <i title="{{data.type()}}" class="datanodes {{data.iconType()}}"></i>
                <p ng-attr-title="{{data.name()}}" style="max-width: 25em;">{{data.name()}}</p>
                <ul class="tags__list">
                  <li
                    title="DataNode status"
                    ng-class="{'tag tag--error': data.status()==='Error', 
                           'tag tag--pending':data.status()==='Pending',
                           'tag tag--ok': (data.status()==='OK'|| data.status()==='Running'),
                           'tag tag--none': data.status()==='None'}"
                  >
                    {{data.status()}}
                  </li>
                </ul>
              </div>
              <div class="datanode__card--top__actions">
                <div class="datanode__card--top__flags__update">Last update : {{data.last_updated()}}</div>
              </div>
            </div>
            <div class="datanode__card--content" style="height: 140px;">
              <div class="datanode__card--content__graph" style="height: inherit;">
                <div class="css-treeview" format-data="data.latestData()" style="background-color: #f8f8f8; user-select: text">
                </div>
              </div>
            </div>
          </div>
          <button class="monitor-panel__close-button" ng-click="togglePanel()">Close</button>
        </div>
      </draggable-panel>
    </div>
  </body>
</html>
