<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
		<mimeMap fileExtension=".md" mimeType="text/plain" />
		<mimeMap fileExtension=".xprjson" mimeType="application/octet-stream" />
		<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>