/*
 * Load File widget
 * @description: used in plugin-load-file-widgets.js
 * 
 */

.load-file-widget-html {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: inherit;
}

.load-file-widget-html--border {
  border: 1px dashed;
}

.label-wrapper {
  font-weight: fw('semi');
  padding-left: spacer('1');
}

.drag-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
  padding: spacer('4');
}

.drag-area--column {
  flex-direction: column;
  justify-content: center;

  & .drag-area__browse-btn-wrapper {
    flex-grow: 0;
  }
}

.drag-area__icon-wrapper {
  margin-right: spacer('8');
}

.drag-area__icon-wrapper--hidden {
  display: none;
}

.drag-area__text-wrapper {
  display: flex;
  flex-direction: column;
  line-height: spacer('12');
  align-items: center;
  justify-content: center;
  margin-right: spacer('4');
}

.drag-area__text-wrapper__span--hidden {
  display: none;
}

.drag-area__browse-btn-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.drag-area__browse-btn-wrapper > input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.drag-area__browse-btn-wrapper > input + label {
  padding: spacer('3') spacer('5');
  border-radius: 5px;
  text-align: center;
  line-height: normal;
}

.drag-area__browse-btn-wrapper > input + label:hover {
  cursor: pointer;
}

/**************** Display loaded file ****************/

.loaded-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: spacer('4');
}

.loaded-file__icon-wrapper {
  margin-right: spacer('8');

  i {
    font-size: fs('2xl');
  }
}

.loaded-file__icon-wrapper--hidden {
  display: none;
}

.loaded-file__info-file-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  flex-grow: 98;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: spacer('8');
}

.loaded-file__info-file-wrapper__name {
  font-weight: bold;
  margin-right: spacer('5');
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loaded-file__info-file-wrapper__size {
  overflow: none;
}

.loaded-file__close-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  i {
    border-radius: 50%;
    padding: 0.2rem 0.4rem;

    &:hover {
      cursor: pointer;
    }
  }
}

/**************** Load spinner ****************/

.load-spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: var(--disabled-color);
}

.load-spinner-wrapper__icon {
  font-size: fs('xl');
}
