/*
 * Spinner status widget
 * @description: used in plugin-spinner-status-widgets.js
 * 
 */

.spinner-status-widget-html {
	width: inherit;
	height: inherit;
}

.spinner-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}