/*
 * Tables in widgets
 * @description: Bootstrap tables styles
 * 
 */

%widget-preview-wrapper {
  table {
    background-color: transparent;
    background-color: var(--widget-table-color);
    color: var(--widget-table-value-color);
  }

  table col[class*='col-'] {
    position: static;
    display: table-column;
    float: none;
  }

  table td[class*='col-'],
  table th[class*='col-'] {
    position: static;
    display: table-cell;
    float: none;
  }

  caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--widget-table-caption-color);
    text-align: left;
  }

  th {
    text-align: left;
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid var(--widget-table-border-color);
  }

  .table > thead > tr > th {
    vertical-align: middle;
    border-bottom: 2px solid var(--widget-table-border-color);
  }

  .table > caption + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > th,
  .table > thead:first-child > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }

  .table > tbody + tbody {
    border-top: 2px solid var(--widget-table-border-color);
  }

  .table .table {
    background-color: #fff;
  }

  // Condensed
  .table-condensed > thead > tr > th,
  .table-condensed > tbody > tr > th,
  .table-condensed > tfoot > tr > th,
  .table-condensed > thead > tr > td,
  .table-condensed > tbody > tr > td,
  .table-condensed > tfoot > tr > td {
    padding: 5px;
  }

  // Bordered
  .table-bordered {
    border: 1px solid var(--widget-table-border-color);
  }

  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
    border: 1px solid var(--widget-table-border-color);
  }

  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
  }

  // Not bordered
  .table.no-border tr td,
  .table.no-border tr th {
    border-width: 0;
  }

  // Striped
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: var(--widget-table-striped-odd);
  }

  // Responsive
  .table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
  }

  @media screen and (max-width: 767px) {
    .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid var(--widget-border-color);
    }
    .table-responsive > .table {
      margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap;
    }
    .table-responsive > .table-bordered {
      border: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0;
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0;
    }
  }
  .sort-arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    font-size: 0.75em;
    color: #354a5f;
  }

  th:hover .sort-arrow {
    opacity: 0.5;
  }

  th[data-sort='asc'] .sort-arrow {
    opacity: 1;
    transform: translateY(-50%) rotate(180deg);
  }

  th[data-sort='desc'] .sort-arrow {
    opacity: 1;
    transform: translateY(-50%);
  }

  .sort-arrow::before {
    content: '';
    border: solid var(--widget-table-pagination-arrow-color);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    vertical-align: middle;
  }

  #pagination-controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  #pagination-controls label {
    margin-right: 10px;
    font-size: calc(7px + 0.5vw);
  }

  #pagination-controls select {
    padding: 5px 10px;
  }

  #pagination-controls button {
    margin: 0 10px;
    padding: 0px 10px;
    background-color: var(--widget-table-value-color);
    color: var(--widget-table-pagination-value-color);
    border: none;
    cursor: pointer;
  }

  #pagination-controls button:disabled {
    background-color: var(--widget-table-border-color);
    cursor: not-allowed;
  }

  #pagination-controls [class^='page-info'] {
    font-size: calc(7px + 0.5vw);
    color: var(--widget-table-pagination-color);
  }

  .custom-select-wrapper {
    position: relative;
    width: 80px;
    margin-right: 20px;
  }

  [id^='rows-per-page'] {
    width: 100%;
    padding: 10px;
    appearance: none;
    background-color: var(--widget-table-pagination-value-color);
    border: 1px solid var(--widget-table-border-color);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    padding-right: 30px;
  }

  .custom-select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 14px;
    color: var(--widget-table-pagination-focus-color);
  }

  [id^='rows-per-page']:hover {
    border-color: var(--widget-table-pagination-hover-color);
  }

  [id^='rows-per-page']:focus {
    outline: none;
    border-color: var(--widget-table-pagination-focus-color);
  }
}
