<div class="project__top">
    <div class="project__top__title">
        <!-- project name -->
        <h1 ng-if="xDashFullVersion" title="{{currentProject.name}}" id="projectName">{{currentProject.name | limitTo: 30}}{{currentPrjDirty}}</h1>
        <h1 ng-if="!xDashFullVersion" title="{{currentProject.name}}">
                <input type="text" id="projectName" placeholder="Name of the project" value="{{currentProject.name | limitTo: 30}}" autocorrect="off" 
                ng-disabled="isTemplateOpen || isLiveDemo">
                <sapn ng-if="!isTemplateOpen && !isLiveDemo">{{currentPrjDirty}}</sapn>
        </h1>
        <a id="isNavOpen_Project" ng-click="isNavOpen = !isNavOpen" title="More options" style="float:right">
            <i class="basic icn-miniarrowbottom"></i>
        </a>
        
        <!-- menu of actions -->
        <ul class="dashboard-dropdown visible" ng-init="!isNavOpen" ng-show="isNavOpen">
            <li ng-class="{hidden:!editorView.checkboxModelView}" js-view-mode>
                <a ng-click="exportSettings();isNavOpen=false" title="Setting project export options">
                    <i class="basic icn-settings"></i>Settings
                </a>
            </li>
            <li ng-if="xDashFullVersion" ng-class="{disable:readOnly}">
                <a ng-click="renameProject(currentProject.name);isNavOpen=false" title="Rename the project file">
                    <i class="basic icn-rename"></i>Rename
                </a>
            </li>
            <li ng-if="xDashFullVersion">
                <a ng-click="shareProject(currentProject.name);isNavOpen=false" title="Share the project file">
                    <i class="basic icn-share-private" aria-hidden="true"></i>Share
                </a>
            </li>
            <li ng-if="xDashFullVersion">
                <a ng-click="duplicateProject(currentProject.name);isNavOpen=false" title="Duplicate the project file">
                    <i class="basic icn-duplicate"></i>Duplicate
                </a>
            </li>
            <li>
                <a ng-click="exportProjectToLocal();isNavOpen=false" title="Export the project file">
                    <i class="basic icn-download-cloud" aria-hidden="true"></i>Export
                </a>
            </li>
            <li ng-if="xDashFullVersion" ng-class="{disable:readOnly}">
                <a ng-click="deleteFileInServer(currentProject.name);isNavOpen=false" title="Delete the project file">
                    <i class="basic icn-delete"></i>Delete
                </a>
            </li>
            <li>
                <a ng-click="infoProject(currentProject.name);isNavOpen=false" title="Project infos">
                    <i class="basic icn-info"></i>Infos
                </a>
            </li>
        </ul>
    </div>


    <!-- Save button -->
    <button ng-if="xDashFullVersion" class="btn btn__see-more" ng-class="{hidden:editorView.checkboxModelView}" title="Save project" ng-disabled="readOnly" js-edit-mode ng-click="saveProjectInServer();">
        Save <i class="gg-chevron-right"></i>
    </button>

    <button ng-if="!xDashFullVersion" ng-disabled="isTemplateOpen || isLiveDemo" class="btn btn__see-more" ng-class="{hidden:editorView.checkboxModelView}" title="Save project" js-edit-mode ng-click="saveProjectToLocal();">
            <i class="basic icn-save" style="margin-right: 5px;"></i> Save <i class="gg-chevron-right"></i>
    </button>

    <!-- view mode start -->

    <!-- Export button -->
    <div class="view-mode__export" ng-class="{hidden:!editorView.checkboxModelView}" js-view-mode>
        <div class="btn__see-more__wrapper">
            <button class="btn btn__see-more" title="Preview the HTML page" ng-click="previewDashboard();">
                Preview
            </button>
        </div>

        <div class="btn__see-more__wrapper">
            <button class="btn btn__see-more" title="Export the HTML page" ng-click="exportHTMLPage(currentProject.name);">
                Export
            </button>
        </div>

        <div ng-if="xDashFullVersion" class="btn__see-more__wrapper">
            <button id="isExportOpen_Project" class="btn btn__see-more" title="Deploy to HTML page" ng-click="verifyPageExistence(currentProject.name);isExportOpen = !isExportOpen;showForm();">
                Deploy
            </button>
            <!-- menu of actions -->
            <!-- <ul class="dashboard-dropdown visible" ng-init="!isExportOpen" ng-show="isExportOpen">
                <li>
                    <a title="Dashboard" ng-click="showForm();">
                        <i class="basic icn-dashboard"></i> Dashboard
                    </a>
                </li> -->
                <!-- <li>
                    <a title="Settings" ng-click="exportSettings();">
                        <i class="basic icn-settings"></i> Settings
                    </a>
                </li> -->
            <!-- </ul> -->
        </div>

        <div ng-if="xDashFullVersion" class="btn__see-more__wrapper">
            <button ng-class="{disabled:!isPageExist}" id="isShareOpen_Page" class="btn btn__see-more" title="Share '{{currentProject.name}}.html' page" ng-click="verifyPageExistence(currentProject.name);isPageExist?isShareOpen = !isShareOpen:isShareOpen=false">
                Share 
            </button>
            <!-- menu of actions -->
            <ul class="dashboard-dropdown visible" style="width: 13em;" ng-init="!isShareOpen" ng-show="isShareOpen">
                <li ng-class="{disable:!isPageExist}">
                    <a title="Get HTML page link" ng-click="showPageLink(currentProject.name);isShareOpen=false">
                        <i class="basic icn-share"></i>Get page link
                    </a>
                </li>
                <li ng-class="{disable:!isPageExist}">
                    <a title="Set HTML page access" ng-click="openPageAccess(currentProject.name);isShareOpen=false">
                        <i class="basic icn-lock" aria-hidden="true"></i>Set page access
                    </a>
                </li>
                <li ng-class="{disable:!isPageExist||securedLink=='False'}">
                    <a title="Manage private sharing" ng-click="shareProject(currentProject.name,'html');isShareOpen=false">
                        <i class="basic icn-share-private" aria-hidden="true"></i>Manage sharing
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <!-- undo/redo button -->
    <div class="undo-redo" ng-class="{hidden:editorView.checkboxModelView}" js-edit-mode>
        <button class="btn btn-icon-only" title="undo" ng-click="vm.undo();" ng-disabled="!vm.canUndo()"><i class="fa fa-undo"></i></button>
        <button class="btn btn-icon-only" title="redo" ng-click="vm.redo();" ng-disabled="!vm.canRedo()"><i class="fa fa-repeat"></i></button>
    </div>
    
    <!-- for future version -->
    <!-- desktop/mobile/tablet start -->
    <ul ng-show="false" class="view-mode" js-view-mode ng-class="{hidden:!editorView.checkboxModelView}">
        <li>
            <a href="#" js-device-view class="active">
                <i class="view-mode__button view-mode__button--desktop"></i>
                <span class="view-mode__label">Desktop</span>
            </a>
        </li>
        <li>
            <a href="#" js-device-view class="mute">
                <i class="view-mode__button view-mode__button--mobile"></i>
                <span class="view-mode__label">Mobile</span>
            </a>
        </li>
        <li>
            <a href="#" js-device-view class="mute">
                <i class="view-mode__button view-mode__button--tablet"></i>
                <span class="view-mode__label">Tablet</span>
            </a>
        </li>
    </ul>
    <!-- desktop/mobile/tablet end -->

    <!-- view mode end -->

</div>

<!-- switch mode -->
<div class="switch__wrapper">
    <p>Edit</p>
    <label class="switch">
        <input type="checkbox" id="edit-play-switch" ng-model="editorView.checkboxModelView" ng-click="resetPanelState();onEditPlaySwitch()">
        <span class="slider round"></span>
    </label>
    <p>View</p>
</div>