/*
 * Notifications
 * @description: Header notifications under the bell icon
 * 
 */

.notification {
  position: relative;
  background-color: var(--surface-a);
  margin-top: 0.5rem;
  padding: 1rem 1.5rem 1rem;
  border: 1px solid var(--border-a);
  border-radius: br('4');
}

.notification__btn-close {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}

.notification__top {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  + * {
    padding-top: 1rem;
  }
}

.notification__top__title {
  font-weight: fw('bold');
}

.notification__top__time {
  font-size: fs('sm');
}

.notification__top__toggle {
  &:before {
    content: '\002B';
    display: block;
    font-size: fs('3xl');
  }
  transition: color 0.3s ease;

  &:hover {
    color: var(--hover-color);
  }
}

.notification__content {
  overflow: hidden;
  display: block;
}

.notification__closed {
  .notification__content {
    height: 0;
    padding-top: 0;
  }
}

.notification__open {
  .notification__top__toggle {
    &:before {
      content: '\2212';
    }
  }
}

$alert-colors: 'info', 'success', 'warning', 'danger';

@each $color in $alert-colors {
  .notification__#{$color} {
    border-left: 10px solid var(--#{$color}-color);

    .notification__top__title {
      color: var(--#{$color}-color);
    }
  }
}

.notification--clear-cta {
  padding: 0;
  border: none;

  a {
    width: 100%;
    background: var(--surface-c);
    border: 1px solid var(--border-b);
    border-radius: br('4');
    transition: border-color 0.3s ease, background-color 0.3s ease;
    padding: 1rem 1.5rem 1rem;
    text-align: center;

    &:hover {
      background: var(--hover-color);
      border-color: var(--hover-color);
    }
  }
}
