<div class="panel--content--top">
  <h1>Dependency Graph</h1>
  <div class="content--top__actions">
    <button id="exportGraph" class="btn btn-rounded-fill btn--icon primary">
      <i class="basic icn-download"></i>
      Export
    </button>
    <button ng-click="closeGraph();editorView.showGraphPanel=false" class="btn btn-icon-only" title="Close panel">
      <i class="basic icn-close close-aside"></i>
    </button>
  </div>
</div>

<div class="dashboard-form">
  <div class="dashboard-form__input-wrapper">
    <input
      id="inputSearchGraph"
      type="search"
      placeholder="Search DataNode names"
      class="dashboard-form__input--search"
    />
    <i class="basic icn-search"></i>
  </div>
</div>

<div class="tags__list--wrapper">
  <label>Widget Connexion :</label>
  <ul class="tags__list">
    <li id="connectedtowidget" ng-click="selectConnectedWithWidget('connectedtowidget')">
      <i class="basic icn-tag"></i>Connected
    </li>
    <li id="notconnectedtowidget" ng-click="selectConnectedWithWidget('notconnectedtowidget')">
      <i class="basic icn-tag"></i>Not Connected
    </li>
  </ul>
</div>
<div class="tags__list--wrapper">
  <label>DataNode types :</label>
  <ul class="tags__list">
    <li
      id="{{type}}"
      style="cursor: pointer"
      ng-repeat="type in uniqGraphNodesTypes"
      ng-click="selectNodeFromTagList(type)"
    >
      <i class="basic icn-tag"></i>{{type}}
    </li>
  </ul>
</div>

<div class="dependency-graph-actions">
  <button id="zoomOut" class="btn btn-icon-only" title="Zoom out">
    <i class="basic icn-minimize" style="font-size: 2em"></i>
  </button>
  <button id="zoomIn" class="btn btn-icon-only" title="Zoom in">
    <i class="basic icn-add" style="font-size: 2em"></i>
  </button>
  <button id="openFullScreen" class="btn btn-icon-only" title="Full screen view">
    <i class="basic icn-full-screen" style="font-size: 2em"></i>
  </button>
</div>

<div id="dependencyGraph" style="display: inline-flex"></div>
