<div class="dashboard-form">
    <div class="dashboard-form__input-wrapper">
        <input type="search" id="inputSearchLib" placeholder="Search Pyodide Libraries" class="dashboard-form__input--search ng-pristine ng-valid ng-empty ng-touched" 
        ng-change="searchLibsDisplay()" ng-model="searchLib" />
        <i class="basic icn-search"></i>
    </div>
</div>

<div style="user-select: text">
    <div class="legend_wrapper" ng-class="{'active':displayedLibIndex== 1||displayedLibIndex== 0}" ng-click="toggleLibsDisplay(1);updateLibsList();">
        <h2>Standard Libraries</h2>
    </div>

    <ul id="list_standard" class="toggle_wrapper" ng-class="{'open':displayedLibIndex== 1||displayedLibIndex== 0}">
        <div ng-repeat="standardLib in pyodideLibsObj.standardLibs | filter:searchLib | orderBy:sortByLoadStatus">
            <li class="item_wrapper">
                <label>
                    <input type="checkbox" id="{{standardLib.name}}_lib" name="standard" ng-model="selectedLibs[standardLib.name]" ng-checked="standardLib.loaded" 
                    ng-disabled="standardLib.loaded" />
                    {{standardLib.name}}
                </label>
            </li>
        </div>
    </ul>

    <div class="legend_wrapper" ng-class="{'active':displayedLibIndex== 2||displayedLibIndex== 0}" ng-click="toggleLibsDisplay(2);updateLibsList();">
        <h2>Micropip Libraries</h2>
    </div>

    <ul id="list_micropip" class="toggle_wrapper" ng-class="{'open':displayedLibIndex== 2||displayedLibIndex== 0}">
        <div ng-repeat="micropipLib in pyodideLibsObj.micropipLibs | filter:searchLib | orderBy:sortByLoadStatus">
            <li class="item_wrapper">
                <label>
                    <input type="checkbox" id="{{micropipLib.name}}_lib" name="micropip" ng-model="selectedLibs[micropipLib.name]" ng-checked="micropipLib.loaded" 
                    ng-disabled="micropipLib.loaded" />
                    {{micropipLib.name}}
                </label>
            </li>
        </div>
    </ul>

    <div class="btn_wrapper">
        <button ng-click="loadPyodideLibs()" class="btn btn_load" title="Load libraries" ng-disabled="isSelectedLibsEmpty(selectedLibs)">Load</button>
    </div>
</div>