<nav class="dashboard-pagination" aria-label="Number of items per page">
  <ul class="dashboard-pagination__list">
    <li class="dashboard-pagination__list__item" ng-class="{'active':perPage==10}">
      <a ng-click="changePerPage(10);changePage(0)" class="dashboard-pagination__link">10</a>
    </li>
    <li class="dashboard-pagination__list__item" ng-class="{'active':perPage==20}">
      <a ng-click="changePerPage(20);changePage(0)" class="dashboard-pagination__link">20</a>
    </li>
    <li class="dashboard-pagination__list__item" ng-class="{'active':perPage==30}">
      <a ng-click="changePerPage(30);changePage(0)" class="dashboard-pagination__link">30</a>
    </li>
  </ul>
</nav>
<nav class="dashboard-pagination" aria-label="Page selection">
  <ul class="dashboard-pagination__list">
    <li class="dashboard-pagination__list__item" ng-class="{'disabled':!!(pagination.currentPage==0)}">
      <a class="dashboard-pagination__link" ng-disabled="pagination.currentPage==0" ng-click="changePreviousPage()">
        <span class="sr-only">Previous page</span>
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </a>
    </li>
    <li
      ng-repeat="i in pagination.listPages"
      class="dashboard-pagination__list__item"
      ng-class="{'active':currentPage==$index}"
    >
      <a class="dashboard-pagination__link" ng-click="changePage($index)">{{$index +1}}</a>
    </li>
    <li
      class="dashboard-pagination__list__item"
      ng-class="{'disabled':!(pagination.currentPage<(pagination.totalPages-1))}"
    >
      <a
        class="dashboard-pagination__link"
        ng-disabled="!(pagination.currentPage<(pagination.totalPages-1))"
        ng-click="changeNextPage()"
      >
        <span class="sr-only">Next page</span>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
