<div>
  <div class="modal-header">
    <h2>Export settings</h2>
  </div>
  <h5 class="pull-left" style="padding-left: 10px; margin: 10px 0">
    <a> Please choose the export setting before saving your dashboard </a>
  </h5>
  <form name="exportCtrl.form.userForm" ng-submit="exportCtrl.submitForm()" novalidate class="dashboard-form">
    <div class="modal-body">
      <table>
        <tr>
          <td style="width: 40%; padding-top: 5px; padding-left: 10px">Show notifications</td>
          <td style="padding-top: 5px">
            <div>
              <i
                class="fa fa-toggle-on active"
                style="font-size: 36px; color: var(--checked-switch-background-color)"
                ng-if="exportCtrl.navBarNotification"
                ng-click="exportCtrl.navBarNotification=false"
              ></i>
              <i
                class="fa fa-toggle-on fa-rotate-180 inactive"
                style="font-size: 36px; color: var(--switch-wrapper-background-color)"
                ng-if="!exportCtrl.navBarNotification"
                ng-click="exportCtrl.navBarNotification=true"
              ></i>
            </div>
          </td>
        </tr>
        <tr ng-if="exportCtrl.pageNames.length">
          <td style="width: 40%; padding-top: 5px; padding-left: 10px">Page navigation</td>
          <td style="padding-top: 5px">
            <div>
              <select
                class="inputList"
                style="width: 240px; height: auto"
                ng-model="exportCtrl.pageMode"
                name="pageMode"
                id="pageMode"
              >
                <option ng-value="exportCtrl.pageModePages">Pages</option>
                <option ng-value="exportCtrl.pageModeTabs">Tabs</option>
                <option ng-value="exportCtrl.pageModeCustom">Custom</option>
              </select>
            </div>
          </td>
        </tr>
        <tr ng-if="exportCtrl.pageNames.length && exportCtrl.pageMode===exportCtrl.pageModeCustom">
          <td style="width: 40%; padding-top: 5px; padding-left: 10px">Default page</td>
          <td style="padding-top: 5px">
            <div>
              <select
                class="inputList"
                style="width: 240px; height: auto"
                ng-model="exportCtrl.initialPageIndex"
                name="initialPageIndex"
                id="initialPageIndex"
              >
                <option ng-repeat="page in exportCtrl.pageNames" ng-value="$index">{{page}}</option>
              </select>
            </div>
          </td>
        </tr>
      </table>
      <div>
        <!-- end of user messages -->
        <ul class="messages" style="padding-top: 10px; margin: 0">
          <li style="border-bottom: aliceblue" ng-if="exportCtrl.pageMode===exportCtrl.pageModePages">
            <div class="message_wrapper">
              <i class="scaling-method icn-row-to-page"></i>
            </div>
            <div class="message_wrapper">
              <h4 class="heading">
                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                <a href="#"><i class="fa fa-paperclip"></i> Pages </a>
              </h4>
              <blockquote class="message">Switching between pages will be handled by buttons.</blockquote>
              <br />
            </div>
          </li>
          <li style="border-bottom: aliceblue" ng-if="exportCtrl.pageMode===exportCtrl.pageModeTabs">
            <div class="message_wrapper">
              <i class="scaling-method icn-row-to-tab"></i>
            </div>
            <div class="message_wrapper">
              <h4 class="heading">
                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                <a href="#"><i class="fa fa-paperclip"></i> Tabs </a>
              </h4>
              <blockquote class="message">Pages will be rendered as tabs.</blockquote>
              <br />
            </div>
          </li>
          <li style="border-bottom: aliceblue" ng-if="exportCtrl.pageMode===exportCtrl.pageModeCustom">
            <div class="message_wrapper">
              <i class="scaling-method icn-custom-navigation"></i>
            </div>
            <div class="message_wrapper">
              <h4 class="heading">
                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                <a href="#"><i class="fa fa-paperclip"></i> Custom </a>
              </h4>
              <blockquote class="message">
                No standard control will be provided to change the displayed page. Page navigation is the responsibility
                of the dashboard's logic through Chalk'it API functions, using trigger buttons or other signals.
              </blockquote>
              <br />
            </div>
          </li>
        </ul>
        {{exportCtrl.initialPageIndex}}
      </div>
    </div>
    <div class="modal-footer">
      <div>
        <button id="dialog-cancel" ng-click="exportCtrl.cancel()" class="btn btn-rounded-fill cancel" type="button">
          Cancel
        </button>
        <button id="dialog-ok" type="submit" class="btn btn-rounded-fill primary">Save</button>
      </div>
    </div>
  </form>
</div>
