/*
 * Aside
 * @description: Wraps editor panels, floating actions bars
 * 
 */

$aside-panel-max-width: 25em;
$aside-panel-nav-width: 65px;

// Use it to display the shadow on the side panel
$aside-panel-nav-width-l: 70px;

$aside-panel-nav-height: 705px;
$aside-panel-gap: 0.5em;

aside {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
}

// Set rules for Editor left & right panels
.aside__panel {
  display: flex;
  align-items: center;
  gap: $aside-panel-gap;
  flex-shrink: 0;
  overflow: visible;
  transition: var(--default-transition);

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  &.hidden {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0s, opacity 0s linear;
  }

  &#panel--left {
    max-width: $aside-panel-max-width;
    margin-left: calc(#{$aside-panel-max-width * -1} + calc(#{$aside-panel-nav-width} + #{$aside-panel-gap}));

    &.open {
      margin-left: 0;

      &.normal__panel {
        max-width: $aside-panel-max-width;

        + .main__layout--content {
          .widget__layout {
            width: calc(100% + 20.5em);
          }
        }
      }

      &.large__panel {
        max-width: 37.1875em;

        + .main__layout--content {
          .widget__layout {
            width: calc(100% + 32.6875em);
          }
        }
      }

      &.xlarge__panel {
        max-width: 50em;

        + .main__layout--content {
          .widget__layout {
            width: calc(100% + 55.5em);
          }
        }
      }

      + .main__layout--content {
        overflow: scroll;
      }

      .aside__panel--content--left {
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
        border-right: 1px solid;
        border-image: var(--aside-border-gradient) 0 100% 0 0;
      }
    }
  }

  @media (max-height: #{$aside-panel-nav-height}) {
    &#panel--left {
      display: flex;
      align-items: start;
      overflow: auto;
      margin-left: calc(#{$aside-panel-max-width * -1} + calc(#{$aside-panel-nav-width-l} + #{$aside-panel-gap}));

      /* Hide the scroll bar */
      &::-webkit-scrollbar {
        display: none;
      }

      &.open {
        .aside__panel--content--left {
          height: auto;
        }
      }
    }
  }

  &#panel--right {
    max-width: $aside-panel-max-width;
    margin-right: calc(#{$aside-panel-max-width * -1} + calc(#{$aside-panel-nav-width} + #{$aside-panel-gap}));

    &.open {
      top: 0;
      right: 0;
      margin-right: 0;
      position: absolute;
      margin-left: 0;

      &.normal__panel {
        max-width: $aside-panel-max-width;
      }

      &.large__panel {
        max-width: 37.1875em;
      }

      &.xlarge__panel {
        max-width: 50em;
      }
    }
  }
}

@media (max-height: #{$aside-panel-nav-height}) {
  /* Spacers for left side panel nav */
  .aside__panel--nav--left {
    margin-right: spacer('3');
    padding-top: spacer('24');
  }
}

// Inside the panel
.aside__panel--content {
  width: 100%;
  height: 100%;
  padding: 1em 0.8125em;
  background-color: var(--surface-b);
  overflow: auto;

  .btn-circle {
    margin: 2em 0;
  }
}

@media (max-height: #{$aside-panel-nav-height}) {
  .aside__panel--content--left {
    min-height: #{$aside-panel-nav-height};
  }
}

.panel--content--top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;

  h1 {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  h2 {
    margin-bottom: 1em;
    font-size: fs('md');

    &::first-letter {
      text-transform: uppercase;
    }
  }

  a:hover {
    color: var(--primary-color);
  }
}

.panel--content--wrapper {
  display: none;

  &.show {
    display: block;
  }

  #panel--right & {
    height: calc(100% - 3.9em);
  }
}

.panel--selected--content {
  height: 88%;
  overflow-y: scroll;
}

.panel--content--wrapper h2,
.panel--selected--content h2 {
  margin-bottom: 1rem;
}

// Cancel/Save actions
.panel--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
  padding: 1em;
}

// Widgets accordions - Left aside
.widget__groups {
  margin: 1em 0;
  padding-bottom: 3em;
}

.widget__groups--wrapper {
  margin-top: 1.5em;

  .widget__groups--wrapper--top {
    transition: color 0.3s ease;
    &:hover {
      color: var(--hover-color);
    }
  }

  &.open {
    .widget__groups--wrapper--icons {
      max-height: 45em;
      overflow: visible;
    }

    .widget__groups--wrapper--top i {
      display: block;
      transform: rotateX(180deg);
    }
  }
}

.widget__groups--wrapper--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 0.75em;
  border-bottom: 0.0625em solid var(--text-color-secondary);
  cursor: pointer;

  h3 {
    margin: 0;
    font-weight: fw('normal');
  }

  &:hover {
    color: var(--active-color-text);
  }
}

.widget__groups--wrapper--icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4.6875em, 1fr));
  grid-gap: 0.25em;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: var(--default-transition);

  .icons__item {
    border-radius: br('8');
    border: 1px solid transparent;
    text-align: center;
    padding: 0.5em;
    color: var(--text-color);
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;

    &:hover {
      background-color: var(--surface-a);
      border: 1px solid var(--primary-color);
    }

    i {
      font-size: 1.8em;
    }

    label {
      display: block;
      margin-top: 0.5em;
      font-size: fs('xs');
      line-height: 1.25;
      cursor: pointer;
    }
  }
}

// Datanodes - Left aside
.datanode__wrap--info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;

  p {
    margin: 0;
    font-weight: fw('bold');
  }
}

.datanode__wrap--info__right {
  .dashboard-dropdown {
    right: -0.75em;

    li label {
      white-space: nowrap;
      line-height: 2;
    }
  }
}

.datanode__card {
  width: 100%;
  margin: 0.6875em auto;
  border-radius: br('4');
  background-color: var(--surface-a);

  &:not(.open) {
    .datanode__card--content__graph {
      padding-top: 0;
    }
  }

  &.open {
    .icn-miniarrowbottom {
      display: block;
      transform: rotate(180deg);
    }
  }
}

.datanode__card--top {
  padding: 0.625em;
}

.datanode__card--top__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .dashboard-dropdown {
    right: -0.75rem;
  }
}

.datanode__card--top__actions--wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;

  > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375em;
    border-radius: br('full');
    line-height: 1;

    &:hover {
      background-color: var(--active-color);
      color: var(--active-color-text);
    }
  }
}

.datanode__card--top__flags {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tags__list {
    margin-left: auto;
  }

  img {
    width: 30px;
    padding-right: 4px;
  }

  p {
    max-width: 6.6em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  + * {
    margin-top: 0.725rem;
  }
}

.datanode__card--top__flags__update {
  display: inline-flex;
  align-items: center;
  font-size: fs('xs');
}

.datanode__card--content {
  position: relative;
  overflow: hidden;
}

.datanode__card--content__graph {
  width: 100%;
  padding-top: calc(100% * 9 / 16);
  /*AEF: old value:  overflow-y: scroll */
  overflow-y: auto;
  transition: var(--default-transition);
  .css-treeview {
    /*AEF: replace img by .css-treeview */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    /*AEF: old value: height: auto */
    height: 100%;
    transform: translate(-50%, -50%);
  }
}

.datanode__card--content__bottom {
  padding: 0.625em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.datanode__card--content__btn {
  &:before {
    content: attr(data-name);
    overflow: hidden;
    transform: scale(0, 1);
    opacity: 0;
    transform-origin: right;
    transition: var(--default-transition);
    background: rgba(white, 0.5);
    border-radius: br('2');
    padding: 2px 4px;
    font-size: fs('xs');
    margin-right: 0.5rem;
  }

  &:hover {
    color: var(--primary-color);
    &:before {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
}

.add__new__datanode {
  position: absolute;
  top: 0;
  width: 0;
  min-width: 0;
  bottom: 0;
  opacity: 0;
  left: calc(#{$aside-panel-max-width} - calc(#{$aside-panel-nav-width} + #{$aside-panel-gap}));
  background-color: var(--surface-b);
  pointer-events: none;
  transition: var(--default-transition);
  transition-property: min-width, opacity;

  &.open {
    width: max-content;
    min-width: 19.3125em;
    padding: 1em 0.8125em;
    border-right: 0.125em solid var(--surface-b);
    background: var(--surface-c);
    pointer-events: all;
    overflow-y: scroll;
    opacity: 1;
    z-index: 1;
  }
}

.add__new__datanode--list {
  display: block;
  margin-top: 2em;
  padding: 0 1em;

  &.hide {
    display: none;
  }
}

.add__new__datanode--list--wrap {
  margin-top: 1em;

  span {
    font-weight: fw('bold');
    opacity: 0.5;
  }

  ul {
    li {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;
        width: 100%;
        padding: 0.625em 1em;
        border-radius: br('4');
        line-height: 1.25;
        cursor: pointer;

        i {
          line-height: unset;
        }

        &:hover {
          background-color: var(--active-color);
          color: var(--active-color-text);
        }
      }
    }
  }
}

.add__new__datanode--list--selected {
  height: 100%;
  display: none;

  &.show {
    display: block;
  }
}

// Modal Datanodes notifications
.datanodes__notification-content {
  @extend .row;

  height: 84%;
  text-align: left;

  & > div {
    @extend .col-md-6;

    height: 100%;
    overflow-y: auto;
  }
}

.datanodes__notification-filters {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 2em;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }
}

.datanodes__notification-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

// Back button inside Node editing tool
.panel--back {
  margin-bottom: 0.5em;
}

// Dependency Graph - Left aside
.dependency__graph--container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 1em 1em;
  max-width: 60.5em;
  margin-left: -60.5em;
  background-color: var(--surface-b);
  transition: var(--default-transition);
  overflow-y: scroll;
  z-index: 1000;
  /*MBG*/

  &.show {
    margin-left: 0;
  }

  .panel--content--top {
    .btn-rounded-fill {
      margin-right: 2.5em;
    }
  }

  .dashboard-form__input-wrapper {
    max-width: 20.25em;
    margin-bottom: 1em;
  }
}

.dependency-graph-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

// Libraries - Left aside
.lib-container {
  display: flex;
  flex-direction: column;
}

.lib-container__label-wrapper {
  margin-top: spacer('12');
  padding: spacer('6') 0;
  border-radius: br('4');
  background: var(--surface-c);
  color: var(--text-color);
  cursor: pointer;

  &.active {
    border-radius: br('4') br('4') 0 0;

    h2:after {
      content: '\2212';
    }
  }

  &.active,
  &:hover {
    background-color: var(--active-color-text);
    color: var(--active-color);
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: spacer('2') spacer('12');
    font-size: fs('md');

    &:after {
      content: '\002B';
      font-size: fs('2xl');
    }
  }
}

.lib-container__list-wrapper {
  color: var(--text-color);
  background-color: var(--surface-a);
  border-radius: 0 0 br('4') br('4');
  max-height: 50vh;
  overflow-y: scroll;

  &:not(.open) {
    display: none;
  }
}

.lib-container__list-wrapper__item {
  label {
    display: block;
    font-weight: fw('medium');
    padding-left: spacer('12');
    line-height: 2;
    border-top: 1px solid;
    border-color: var(--surface-b);
    cursor: pointer;

    &:hover {
      background-color: var(--active-color);
      color: var(--active-color-text);
    }

    &:has(input[type='checkbox']:checked) {
      background-color: var(--active-color);
      color: var(--active-color-text);
    }

    &:has(input[type='checkbox']:disabled) {
      color: var(--placeholder-color);
      cursor: default;

      input[type='checkbox'] {
        display: none;
      }
    }

    span {
      padding: 0 spacer('2');
    }
  }
}

.lib-container__btn-wrapper {
  margin: spacer('12');
  text-align: center;
}

// Aspects - Left aside
.aspect__row {
  width: 100%;
  display: flow-root;
}

.aspect__col-left {
  display: flex;
  align-items: center;
  float: left;
  margin: 10px;
  margin-left: 0;
  font-weight: fw('light');

  i {
    margin-right: 0.25em;
  }
}

.aspect__col-right {
  float: right;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 5px;
}

.aspect__row > .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-bottom: 10px;
}

// Aspect theme selector
.theme {
  position: relative;
}

.theme__toggler {
  width: 100%;
  border: none;
  border-radius: br('8');
  padding: 0.5em 2em 0.5em 1em;
  background: var(--surface-c);
  background-image: var(--dropdown-arrow-url);
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5rem) center;
  background-size: 1.5rem;
  color: var(--text-color);
  line-height: 2;
  appearance: none;
  cursor: pointer;
}

.theme__list {
  flex-direction: column;
  gap: 0.5rem;
  left: 0;
  top: calc(100% + 5px);
  right: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;

  &.visible {
    display: flex;
  }
}

.theme__item {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5em;
  padding: 0.25em 0.5em;
  border-radius: br('4');
  background-color: var(--widget-color-0);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;

  &:not(#current-theme):hover {
    border-color: var(--hover-color);
  }
}

.theme__color-box {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: br('4');

  @for $key from 1 through 7 {
    &:nth-child(#{$key}) {
      background-color: var(--widget-color-#{$key});
    }
  }
}

// Help - Left aside
.help-container {
  display: flex;
  flex-direction: column;
}

.help-container__actions-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: spacer('3');

  i {
    padding-left: spacer('3');
  }

  a {
    display: flex;
    align-items: center;
    font-weight: fw('normal');
    padding: 0.25em 0.5em;
    border-radius: br('full');
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.help-container__iframe-wrapper {
  iframe {
    height: 72vh;
    width: 100%;
  }
}

.help-container__btn-wrapper {
  margin-top: spacer('8');
  text-align: center;
}

// Datanodes connections - Right aside
.dataconnection__row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0.5em 0 2em;
}

.dataconnection__col {
  display: block;
  width: 260px;
  min-width: 260px;

  + .dataconnection__col {
    margin-left: 1rem;
  }

  .input__wrapper {
    margin-top: 0.25em;
  }
}

// Graphical properties - Right aside
.tree__preview__container {
  height: 100%;
  padding: 0rem 1rem 1rem 0;

  @include media-breakpoint-up('md') {
    padding: 0rem 3rem 1.25rem;
  }
}

.tree__preview__container--top {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: spacer('3');

  @include media-breakpoint-up('md') {
    justify-content: flex-end;
  }

  p {
    margin-right: 0.625em;
  }

  a {
    display: flex;
    align-items: center;
    font-weight: fw('normal');
    padding: 0.25em 0.5em;
    border-radius: br('full');
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

// Panel toolbar with icons
.aside__panel--nav {
  flex-shrink: 0;
  width: $aside-panel-nav-width;
  border-radius: br('16');
  padding: 0.5em;
  background-color: var(--surface-b);
}

.aside__panel--nav::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: br('16');
  padding: 1px;
  background: var(--nav-border-gradient);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.aside__panel--nav--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  &.rtl {
    span.tooltip {
      right: calc(100% + 0.25em);

      @media (max-height: #{$aside-panel-nav-height}) {
        display: none;
      }
    }
  }

  &.ltr {
    span.tooltip {
      left: calc(100% + 0.25em);

      @media (max-height: #{$aside-panel-nav-height}) {
        display: none;
      }
    }
  }

  li {
    border-radius: br('full');
    transition: background-color 0.3s ease;

    .tooltip {
      transition: opacity 0.3s ease;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.15em 0.5em;
      border-radius: br('2');
      background-color: var(--primary-color);
      font-size: fs('xs');
      font-weight: fw('bold');
      line-height: 1.5;
      color: var(--primary-color-text);
      white-space: nowrap;
      pointer-events: none;
      transition: var(--default-transition);
      transition-property: opacity;
      opacity: 0;
    }

    &.active {
      background-color: var(--active-color);
      color: var(--active-color-text);
    }

    &:hover {
      background-color: var(--hover-color);
      color: var(--hover-color-text);

      .tooltip {
        opacity: 1;
        background-color: var(--hover-color);
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(#{$aside-panel-nav-width} - 1em);
      height: calc(#{$aside-panel-nav-width} - 1em);
      cursor: pointer;
    }
  }
}

// Button open/close menu sidebar  (for opensource version)
.aside__panel--nav--btn-menu {
  width: $aside-panel-nav-width;
  margin-bottom: spacer('16');

  a {
    display: flex;
    font-size: fs('lg');
    padding: spacer('3') spacer('8');
    border-radius: 0 br('full') br('full') 0;
    color: var(--primary-color-text);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;

    &:hover {
      color: var(--active-color-text);
      background-color: var(--hover-color);
    }
  }
}
