/*
 * Common layout rules
 * @description: Rules that are used in Studio (editor or view) AND runtime
 * 
 */

// Appearance of draggable widgets
div[id*='WidgetContainer'],
div[id*='div-for-ng-gauge'] {
  display: table-cell;
  vertical-align: middle;
}

.dropperR {
  @extend %widget-preview-wrapper;
  background-color: var(--widget-color-0);
  @include make-row();
  @extend .no-gutters;
}

.dashboard-parent-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 0;
  background-color: #F0F8FF;
}

.dashboard-page-container {
  overflow: hidden;
}

.dashboard-content-container {
  position: relative;
  overflow: visible;
  z-index: 0;

  .widget {
    position: absolute;

    & > div[id^='WidgetContainer'] {
      height: inherit;
      width: inherit;
    }
  }
}
