/*
 * Editor Mode
 * @description: By oppposition of the "View mode". Widgets are draggable and editable
 * @description: Regroup widgets from the editor panel
 * 
 */

// Used for formatJson
.css-treeview {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0px solid #e7e7e7;
  background-color: var(--light-color);
  color: var(--light-color-text);
  font-size: fs('xs');
  font-family: var(--font-family-mono);
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .css-treeview {
    -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
  }
  @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
}

// Syntaxe Highlight (used in utils.js)

.string {
  color: #8f9d6a;
}

.number {
  color: #78cf8a;
}

.boolean {
  color: #f94dff;
}

.null {
  color: magenta;
}

.key {
  color: #fa8d6a;
}

.vignette {
  font-size: fs('sm');
  line-height: 20px;
}

// Used in editor.html& grid-mgr ...
.dropperR {
  width: 100%;
  position: relative;
  height: calc(207px + 51vh);
  color: var(--light-color-text);
  overflow: auto;
}

.dropperR .drsElement {
  // TODO coords
  // border: 1px solid rgba(255, 255, 255, 0);
}

.dropperR.show-widget-borders:not([id='DropperDroitec']) .drsElement {
  outline: 1px dashed rgba(0, 0, 0, 0.5);
}

.dropperR.show-grid:not(#DropperDroitec) {
  background-origin: content-box;
  background-size: 20px 20px;
  background-attachment: local;
  background-image: linear-gradient(to right, #e6e6e6 1px, transparent 1px),
    linear-gradient(to bottom, #e6e6e6 1px, transparent 1px);
}

.overflow-type1 {
  overflow: auto;
}

.overflow-type2 {
  overflow: hidden;
}

.overflow-type3 {
  overflow-x: hidden;
  overflow-y: auto;
}

// Used in edit-widgets
.draggable {
  background-color: transparent;
  color: #ccc;
  cursor: move;
  width: 50px;
  height: 60px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div > .draggable ::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

div > .draggable::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: br('8');
}

// Apply the element you want to drag/resize
.drsElement {
  position: absolute;
}

#screenshot {
  position: absolute;
  border: 1px solid #ccc;
  background: #333;
  padding: 5px;
  display: none;
  color: #fff;
  font-size: fs('xs');
}

// Dropper columns
.device-col {
  border: 1px dashed black;
  height: 100%;
  padding: 0px;
}

.device-col.col-invisible {
  border: 1px dashed transparent;
  height: 100%;
  padding: 0px;
}

// Drag and drop
.dragged-editor-selection-lasso {
  position: absolute;
  z-index: 999999;
  border: 1px solid black;
}

#dashboard-editor .drag-drop-move .widget-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  transition: background-color 0.3s;
}

#dashboard-editor div.drag-drop-move:hover .widget-overlay {
  background-color: rgb(var(--light-color-text-rgb) / 0.1);
}

#dashboard-editor div.drag-drop-move.widget-selected .widget-overlay {
  background-color: rgb(var(--success-color-rgb) / 0.17);
}

#dashboard-editor div.drag-drop-move.widget-selected:hover .widget-overlay {
  background-color: rgb(var(--success-color-rgb) / 0.4);
}

#dashboard-editor div.drag-drop-move.widget-selected {
  outline: 2px solid var(--success-color);
}

#dashboard-editor div.drag-drop-move.widget-selected.widget-selected-last .widget-overlay {
  background-color: rgb(var(--primary-color-rgb) / 0.17);
}

#dashboard-editor div.drag-drop-move.widget-selected.widget-selected-last:hover .widget-overlay {
  background-color: rgb(var(--primary-color-rgb) / 0.4);
}

#dashboard-editor div.drag-drop-move.widget-selected.widget-selected-last {
  outline: 2px solid var(--primary-color);
}

.dragged-new-widget {
  position: absolute;
  background: white;
  z-index: 999999;
  pointer-events: none;
  border: 1px solid black;
}
.drag-drop-new {
  cursor: grab;
  display: inline-block;
}
.drag-drop-new * {
  pointer-events: none; /* Ensure that child elements don't interfere */
}
.dropperR.drop-possible {
  // background-color: white;
}

.dropperR.drop-over {
  // background-color: white;
}
