/*
 * Main container
 * @description: Wraps main contents
 * 
 */

.main__layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;

  header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 4em;
    padding-right: 5em;
    background-color: var(--header-color);
    filter: var(--header-filter);
    z-index: $zindex-sticky;

    &.with__brand {
      justify-content: space-between;
      align-items: stretch;
    }
  }
}

// For Dashboard and Studio
.main__layout--content {
  flex-grow: 1;
  width: 100%;
  padding: 0.5em 2.1875em 1em 2.1875em;
  overflow-y: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.main__layout--content--top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.project__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  flex-grow: 1;
  margin-right: 2em;
  padding: 1em 0;

  .btn {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.project__top__title {
  display: flex;
  align-items: center;
  gap: 0.5em;

  h1 {
    display: inline-block;
    min-width: 5em;
    max-width: 16em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  input[type=text] {
    border-radius: br('24'); 
    font-style: italic; 
    font-size: fs('xl'); 
    border: none; 
    box-shadow: none; 
    padding: 0.3em 0.6em;
    background-color: var(--light-color-darker);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.undo-redo {
  display: flex;
  align-items: center;
  gap: 0.5em;

  .btn {
    color: var(--text-color);
    padding: 0.5em;

    &:hover,
    &:focus {
      color: var(--text-color);
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      color: var(--primary-color);
    }
  }
}

// Cards pages
.layout__title {
  font-size: fs("lg");
  color: var(--text-color-secondary);
}

.project-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin: 1em 0 0.5em;
}

.project-pagination__wrapper {
  display: flex;
  gap: 2em;
}

// Projects lists (recent, my projects, gallery, python)
.main__layout--content__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.3125em, 1fr)); //AEF
  grid-gap: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.main__layout--content__grid--card {
  max-width: 305px; //AEF: add this style
  height: 16.75em;
  border-radius: br("16");
  border: 0.125em solid transparent;
  filter: var(--card-filter);

  &:hover:not(.create__card) {
    border-color: var(--primary-color);

    .card__banner {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--secondary-color);
        transition: var(--default-transition);
        pointer-events: none;
        opacity: 0.8;
      }

      .card__banner--top {
        opacity: 1;
        z-index: 2;
      }
    }
  }
}

.card__banner {
  width: 100%;
  height: 9em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  overflow: hidden;
  cursor: pointer;

  img {
    height: 100%;
  }
}

.card__banner--top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  cursor: pointer;

  .actions__list {
    width: 100%;
    padding: 0.5em 1em;
    text-align: right;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.35em;
      pointer-events: all;
      cursor: pointer;
    }
  }

  a {
    display: block;
    color: var(--secondary-color-text);
  }
}

.card_footer {
  height: calc(100% - 9em);
  padding: 1.375em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: var(--surface-a);

  h3 {
    margin: 0 0 1em 0;
    padding: 0;
    font-size: fs("md");
    font-weight: fw("bold");
    color: var(--text-color-secondary);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.card--create__new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: br("16");
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
  transition: var(--default-transition);
  transition-property: transform;

  p {
    text-align: center;
    font-size: fs("lg");
  }

  &:hover {
    transform: scale(1.02);
    color: var(--secondary-color-text);
  }
}

.card--create__new--icon {
  font-size: fs("3xl");
}

// Image for project cards in list
.img-datanode {
  width: auto;
  margin: 0 75px;
}

// Discover page
.discover__layout--content__grid {
  gap: 2em;
  display: grid;
  margin-top: 2em;
  margin-bottom: 2em;

  .item-a {
    grid-area: item-a;
    background-color: rgb(var(--primary-color-rgb) / 0.17);
  }

  .item-b {
    grid-area: item-b;
    background-color: rgb(var(--primary-color-rgb) / 0.31);
  }

  .item-c {
    grid-area: item-c;
    background-color: rgb(var(--primary-color-rgb) / 0.41);
  }

  .item-d {
    grid-area: item-d;
    background-color: rgb(var(--primary-color-rgb) / 0.55);
  }

  .item-e {
    grid-area: item-e;
    background-color: rgb(var(--primary-color-rgb) / 0.72);
  }
}

.discover__layout--content__grid--full {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "item-a item-a item-b item-b item-c item-c" 
    "item-d item-d item-d item-e item-e item-e";
}

.discover__layout--content__grid--basic {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "item-a item-b" 
    "item-c item-d";
}

.discover__layout--content__grid--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  height: 16.75em;
  border-radius: br("16");
  border: 0.125em solid transparent;
  background-color: var(--surface-b);
  filter: var(--card-filter);
  text-align: center;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    border-color: var(--primary-color);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  h3 {
    margin: 1em 0;
    font-weight: fw("normal");
  }

  .card__state {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 2.75em;
    height: 2.75em;
    line-height: 2.75em;
    border-radius: br("full");
    background-color: var(--primary-color);
    color: var(--primary-color-text);

    &.validate {
      background-color: var(--success-color);
      color: var(--success-color-text);
    }
  }

  .btn-rounded {
    display: inline-flex;
    align-items: center;
    margin: 0;
  }
}

.discover__layout--content__btn-skip {
  display: flex;
  color: var(--active-color-text);

  button {
    order: 1;
    margin-left: auto;
    font-weight: fw('medium');
    border: none;
    color: var(--active-color-text);

    &:hover {
      color: var(--active-color-text);
      background-color: var(--active-color);
      border: none;
    }
  }

  i {
    margin: 0;
  }
}

// Studio (project open)
.project__layout {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 100%;
  overflow: hidden;
}

// Editor dropzone
.widget__layout {
  width: 100%;
  display: flex;
  // margin-top: 2em;
  flex-direction: row;
  align-items: center;
  transition: width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  //padding-bottom: 2rem;
  & > div {
    display: inline-block;
    vertical-align: middle;
  }
}

.widget__layout--wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4.6875em, 1fr));
  grid-gap: 0.5em;
  height: auto;
  background: #e5eaf2;
  padding: 0.5em;
  border-radius: br("16");
}

.widget__layout--item {
  width: 100%;
  height: 79vh;
  max-width: unset;
  padding: unset;

  .actions__list {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;

    > li {
      margin: 0 0.5em;
      cursor: pointer;

      a {
        color: var(--primary-color);
      }

      i {
        opacity: 0.25;
      }

      &:hover {
        i {
          opacity: 1;
        }
      }
    }
  }
}

// Inside editor dropzone
.x_panel {
  position: relative;
  width: 100%;
  /* margin-bottom: 5px; */
  /* padding: 5px; */
  display: inline-block;
  background: #fff;
  border: 1px solid #e6e9ed;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.x_contentEditor {
  width: 100%;
}

// A "widget" is what is shown in the edit mode after drag and drop
.widget {
  border: 1px solid var(--surface-b);
  
  &:after {
    content: attr(item-width) " x " attr(item-height);
    position: absolute;
    background: var(--primary-color);
    color: var(--primary-color-text);
    border-radius: br("2");
    font-size: fs("xs");
    padding: 2px 4px;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

// Help bubble
.help__bubble {
  position: fixed;
  right: 2em;
  bottom: 5em;
  max-width: 21em;
  padding: 1.5625em;
  border-radius: br("16");
  border-bottom-right-radius: 0;
  background-color: var(--surface-b);
  z-index: $zindex-pnotify;

  .help__bubble--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1.5em;
  }

  .help__bubble--actions,
  .input--wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    > * {
      cursor: pointer;
    }

    input {
      margin-top: 0.25em;
    }

    label {
      display: block;
      margin-left: 0.5em;
      line-height: 1.2;
    }
  }
}
