/*
 * Sidebar
 * @description: Wraps main navigation (outside of project)
 * 
 */

.sidebar {
  max-width: 17em;
  background: var(--surface-a);
}

.sidebar__brand {
  margin-bottom: 2em;
  padding: 0.5em 1em;
  width: 100%;

  .brand__placeholder {
    background-image: var(--main-logo-url);
  }
}

.sidebar__menu {
  padding: 1em 0.8125em;

  input[class*="--search"]:focus {
    + i {
      color: var(--active-color-text);
    }
  }
}

.sidebar__actions {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.sidebar__list--disabled {
  cursor: not-allowed;
}

.sidebar__list a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: br("8");
  line-height: 2.5em;
  color: inherit;
  text-decoration: none;

  &:active,
  &:visited {
    color: inherit;
  }

  &:hover,
  &.active {
    background-color: var(--active-color);
    color: var(--active-color-text);
  }

  &.disabled {
    opacity: 0.7;
    background-color: var(--disabled-color);
    pointer-events: none;
  }
}

// Open projects list (for open source version)
.list-project {
  background: var(--surface-b);
  border-radius: br('8');
}

.list-project__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2;

  &:first-child {
    .list-project__container__label {
      border-top-left-radius: br('8');
      border-top-right-radius: br('8');
      border-top: none;
    }
  }

  &:last-child {
    .list-project__container__label {
      border-bottom-left-radius: br('8');
      border-bottom-right-radius: br('8');
      border-bottom: none;
    }
  }

  input[type='radio'] {
    display: none;

    &:checked + .list-project__container__label {
      background-color: var(--primary-hover-color);
      color: var(--primary-color-text);
    }
  }
}

.list-project__container__label {
  font-size: fs('md');
  font-weight: fw('medium');
  text-transform: capitalize;
  cursor: pointer;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--surface-a);

  &:hover,
  &:active {
    background-color: var(--active-color);
    color: var(--active-color-text);
  }
}
